@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins';
}

:root { 
    --cor-fundo-principal: #405EF9;
    --cor-fundo-secundaria: #fff;
    --cor-texto-primaria: #000000;
    --cor-texto-secundaria: #fff;
    --cor-texto-ativa: #405EF9;
    --cor-hover: #163bf5;
}

#linha{
    border: 1px solid red;
}

.logo img {
    width: 150px;
    height: auto;
}

.row {
    width: 100%;
}

.nav-item {
    margin-left: 10px;
}

/* Página de login */

.login-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.login-section .logo {
    top: 0;
    right: 0;
    position: absolute;
}

.login-section .logo img {
    max-width: 84px;
    width: 100%;
    height: auto;
}

.left-side {
    background-color: var(--cor-fundo-principal);
}

.left-side img {
    max-width: 638px;
    width: 100%;
    height: auto;
}

.login-box {
    max-width: 460px;
    max-height: 604;
}

.right-side .title {
    text-align: center;
}

.super-title {
    background: linear-gradient(to right, #405EF9, #0024d8);
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-area {
}


.login-warning{
    display: none;
    background-color: rgb(253, 174, 174);
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto-primaria);
    border: 1px solid red;
}

.login-sucess {
    margin-top: 10%;
    display: none;
    background-color: rgb(174, 253, 178);
    height: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto-primaria);
    border: 1px solid green;
}

.password-field {
    position: relative;
}

.input-area i {
    position: absolute;
    right: 20px;
    top: 47%;
    cursor: pointer;
}

.input-area input[type=text],
.input-area input[type=password]{
    border: 1px solid var(--cor-fundo-principal);
    width: 100%;
    padding: 15px;
    border-radius: 40px;
}

.input-area input:focus {
    outline: 0;
}

.input-area input[type=text]::placeholder {
    padding-left: 2px;
}

.button-area button{
    max-width: 232px;
    background-color: var(--cor-fundo-principal);
    width: 100%;
    height: 49px;
    border-radius: 36px;
    color: var(--cor-texto-secundaria);
    border: none;
    transition: 0.5s ease-in-out;
    position: relative;
    font-weight: 500;
    font-size: 18px;
}

.button-area button:hover {
    background-color: var(--cor-hover);
}

/* Página home */ 

.sidebar{ 
    background-color: var(--cor-fundo-principal);
}

.sidebar .logo-area {
    border-bottom: 1px solid #fff;
}

.right-side {
}

.box .top {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.box .top span { 
    color: var(--cor-fundo-principal);
    font-weight: 600;
}

.box .top .modal input[type=text] {
    width: 100%;
    border: solid 1px var(--cor-fundo-principal);
    padding: 5px;
    border-radius: 20px;
}

.button-close {
    background-color: #bc0707;
    border: none;
    padding: 10px;
    color: var(--cor-texto-secundaria);
    border-radius: 13px;
}

.box .top .btn-save {
    background-color: var(--cor-fundo-principal);
    border: none;
    padding: 10px;
    color: var(--cor-texto-secundaria);
    border-radius: 13px;
}

.box .top .button-add {
    background-color: var(--cor-fundo-principal);
    border: none;
    padding: 10px;
    color: var(--cor-texto-secundaria);
    border-radius: 13px;
}

.box .top .button-exclude {
    background-color: #bc0707;
    border: none;
    padding: 10px;
    color: var(--cor-texto-secundaria);
    border-radius: 13px;
}

.box {
    border-radius: 20px;
    margin: 10px;
    box-shadow: 1px 4px 17px #000000;
    padding: 20px;
}

.table-heading {
    background-color: var(--cor-fundo-principal);
    font-weight: 500;
    flex-direction: row;
    text-align: left;
    color: var(--cor-fundo-secundaria);
    padding: 10px 10px 10px 15px;
    height: 100%;
}

.table-heading:first-child {
    border-radius: 20px 0 0 0;
}

.table-heading:last-child {
    border-radius: 0 20px 0 0 ;
}

.table-item { 
    text-align: left;
    font-size: 14px; 
    width: 150px;
    padding: 15px;
}

.table-color:nth-child(even) {
    background-color: #E4E3E3;
    border-radius: 20px;
}

#tabelaAlunos table{
    width: 100%;
}
